body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: auto 1fr auto;
	gap: 10px;
	margin: 0;
}

header {
	grid-area: header;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	background: linear-gradient(90deg, rgba(21,82,215,1) 0%, rgba(21,144,215,1) 100%);
	color: white;
	display: flex;
	flex-direction: column;
}

header h1 {
	display: flex;
	justify-content: center;
	justify-items: center;
}

main {
	display: grid;
	grid-template-columns: 1fr 4fr; 
	grid-template-areas: "sidebar maincontent";
	gap: 10px; 
}

aside {
	grid-area: sidebar;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

aside img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

section {
	grid-area: maincontent;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
}

footer {
	grid-area: footer;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	background: linear-gradient(90deg, rgba(21,82,215,1) 0%, rgba(21,144,215,1) 100%);
	display: flex;
	justify-content: center;
	color: white;
}

.navigation {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	padding: 0;
	margin-top: 10px;
	width: 100%;
}

a {
	color: white;
	text-decoration: none;
}

a:hover { 
	color: #10bbe2;
}

@media (max-width: 500px) {
	.container {
			grid-template-areas:
					"header"
					"maincontent"
					"footer sidebar";
			grid-template-rows: auto 1fr auto;
			grid-template-columns: 3fr 1fr;
	}

	header {
			grid-area: header;
	}

	main {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-areas: "maincontent";
	}

	footer {
			grid-area: footer;
	}

	aside {
			grid-area: sidebar;
	}

	.navigation {
			flex-direction: column;
			align-items: center;
	}
}

